@import './theme.less';

@hover-color: #303133;
@hover-color-input: #909399;
.esp-wrapper {
  .ant-input {
    box-shadow: none;
  }
  .ant-input:hover,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector:hover {
    border-color: @hover-color-input;
  }
  .ant-input:focus,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector:focus {
    border-color: @primary-color;
  }
  .ant-checkbox-checked:after {
    display: none;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner {
    background-color: @primary-color;
    border-color: @primary-color;
  }
  .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    background-color: #fff;
    height: 2px;
  }
  .ant-checkbox-wrapper {
    margin-right: 20px;
  }
  // .ant-checkbox-inner {
  //   height: 14px;
  //   width: 14px;
  // }
  .ant-checkbox-checked .ant-checkbox-inner::after {
    top: 42%;
    left: 17.5%;
    width: 5.4px;
    height: 8.8px;
  }

  .ant-input,
  .ant-input-sm,
  .ant-btn,
  .ant-btn-sm {
    padding-left: 12px;
    padding-right: 12px;
  }

  .ant-input-lg,
  .ant-btn-lg {
    padding-left: 16px;
    padding-right: 16px;
  }

  // .ant-radio {
  //     line-height: @default-line-height;

  //     top: 0.3em;
  // }
  .ant-radio-inner::after {
    background-color: #fff;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    margin-left: -5px;
  }
  .ant-radio-checked .ant-radio-inner {
    background: @primary-color;
  }
  .ant-radio-wrapper {
    margin-right: 20px;
  }

  // .ant-select-single:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-search-input{
  //     height: @default-height;
  //   }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 4px;
  }
  // .ant-select:not(.ant-select-disabled):hover .ant-select-selector{
  //     border-color: @default-hover-color;
  // }
  .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input)
    .ant-select-selector {
    box-shadow: none;
  }

  .ant-picker-focused {
    box-shadow: none;
  }
  // .ant-picker:hover{
  //     border-color: @default-hover-color;
  // }

  .ant-menu-inline .ant-menu-selected::after,
  .ant-menu-inline .ant-menu-item-selected::after {
    transform: scaleY(1);
    opacity: 1;
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
      opacity 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-right: 5px solid @primary-color;
    border-radius: 8px 0px 0px 8px;
  }
  .ant-menu-inline {
    padding: 12px 0 12px 8px;
  }
  .ant-menu-vertical {
    padding: 12px 8px;
  }
  .ant-menu-vertical .ant-menu-item {
    border-radius: 4px;
  }

  .ant-menu-light.ant-menu-vertical .ant-menu-item-selected {
    background-color: @primary-color;
  }
  .ant-menu-light.ant-menu-vertical .ant-menu-item-selected {
    color: #fff;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-item-selected {
    background-color: #3a425f;
    border-radius: 8px 0px 0px 8px;
  }
  .ant-menu-light.ant-menu-inline .ant-menu-item-selected {
    background-color: #fff4e8;
    border-radius: 8px 0px 0px 8px;
  }
  .ant-menu-dark.ant-menu-vertical .ant-menu-submenu-selected {
    color: @primary-color;
  }
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  padding: 3px 16px;
}
.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  color: @hover-color;
}
.ant-select-dropdown {
  box-shadow: 0 2px 12px 0 #0000000f;
  border: 1px solid #dcdfe6;
}
.ant-picker-cell-selected .ant-picker-cell-inner {
  border: 1px solid @primary-color;
  color: @primary-color!important;
  background: #fff !important;
}
